.card{
    // background-color: rgb(57, 50, 50);
    border-radius: 12px;
    transition: all 0.5s ease-out;

    &:hover{
        transform: scale(1.02);
        transition: all 0.2s ease-in;
    }

    button{
        transition: all 0.3s ease-out;
        &:hover{
            transform: translateY(-5px);
            transition: all 0.2s ease-in;
        }
    }
}